<div class="my-3" style="width: 300px; background-color: white; border-radius: 8px;">
<%= link_to costume_path(costume) do %>
  <div class="card-image-container">
    <img <% if costume.photos.attached? %> >
      <%= cl_image_tag costume.photos.first.key, crop: :pad, class: "grid-image", width: 300, height: 300 %>
    <% else %>
      <%= image_tag costume.image_url, class: "grid-image", crop: :pad %>
    <% end %>
  </div>

<div>
  <div class="_40px-divider"></div>

  <div class="paid-label-container">
    <div class="free-label-text"><%= costume.price %>€</div>
  </div>
  <% if Offer.where( costume_id: costume.id, status: "accepted" ).empty? %>
    <div class="available-label-container">
      <div class="available-label-text">available</div>
    </div>
  <% else %>
    <div class="unavailable-label-container">
      <div class="available-label-text">unavailable</div>
    </div>
  <% end %>

  <div class="_10px-divider"></div>

  <div class="h2-card-title">
    <%= costume.title.upcase %>
  </div>

  <div class="_40px-divider"></div>

  <div class="p-meta">
    <%= costume.description %>
  </div>

  <div class="_40px-divider"></div>
  </div>
  <% end %>

</div>
    <%# </div> %>
  <%# </div> %>
        <%# </div> %>
    <%# </div> %>
<%# </div> %>
