<div class="card-custom m-4">
  <% if costume.photos.attached? %>
    <%= cl_image_tag costume.photos.first.key, crop: :fill, class: "card-img-top" %>
  <% else %>
    <%= image_tag costume.image_url, class: "card-img-top", crop: :fill %>
  <% end %>
  <div class="card-body">
    <h3 class="card-title"><%= costume.title %></h3>
    <h6 class="card-pricing"><%= costume.price %>€ / day</h4>
    <p class="card-text"><%= costume.description %></p>
  </div>
</div>
