<h3>Offers</h3>
<% offers = Offer.where( costume_id: params[:id]) %>
<% if offers.empty? %>
  <p>You haven't recieved any offers on this costume.</p>
<% else %>
  <% offers.each do |offer| %>
    <%= "You have recieved an offer from" %>
    <%= User.find(offer.user_id).username %> (<%= offer.status %>)
    <% if offer.status == "pending" %>
      | <%= link_to 'Accept',  accept_offer_path(offer.id), method: :post, data: { confirm: "Are you sure?" } %>
    <% elsif offer.status == "accepted" %>
      <%= link_to 'Cancel',  cancel_offer_path(offer.id), method: :post, data: { confirm: "Are you sure?" } %>
    <% end %>
    <br>
    <p>From <%= offer.date_of_hire %> to <%= offer.date_of_end %></p>
  <% end %>
<% end %>
