<h1>Welcome to your costumes</h1>

<%= link_to 'New Sonic', "/costumes/new" %>

<ul>
  <% @costumes.each do |costume| %>
    <% p costume %>
    <li>
      <%= link_to costume.title, "/costumes/#{costume.id}" %>
      <% if costume.photos.attached? %>
        <%= cl_image_tag costume.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <img src="<%= costume.image_url%>" alt="<% costume.title %>">
      <% end %>
      <% if policy(costume).edit? %>
        <%= link_to 'Update', "/costumes/#{costume.id}/edit" %>
      <% else %>
        <%= link_to "Make an offer he can't refuse", "/costumes/#{costume.id}/offers/new" %>
      <% end %>
      <% if policy(costume).destroy? %>
        <%= link_to 'Delete', costume_path(costume.id), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
