<div class="searchbar-container">
  <%= form_with url: "/costumes", html: { class: 'searchbar-wrapper' } do |f| %>
    <%= f.text_field :address,
                        placeholder: "Search location",
                        class:"searchbar-address input-custom form-control m-2",
                        wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } },
                        input_html: {
                          data: { geocoder_target: "searchbar-address" }
                        }
    %>
    <%= f.date_field :date,
                        placeholder: "Start Date",
                        class:"searchbar-date input-custom  form-control m-2"
    %>
    <%= f.date_field :date,
                        placeholder: "Return Date",
                        class:"searchbar-date input-custom  form-control m-2"
    %>
    <%= button_tag type:"submit", class: "btn btn-custom-primary text-white m-2" do %>
      Gotta go fast <i class="fas fa-angle-double-right"></i></i>
    <% end %>
  <% end %>
</div>
