<div data-controller="dashboard" data-dashboard-target="parent" data-page-to-load=<%= @active_tab %>>
  <div class="dashboard-container">
    <div class="dashboard-tabs">
      <div class="tab active" data-action="click->dashboard#toggle_page" data-dashboard-target="tab" data-page-name="homepage">My Sonics</div>
      <div class="tab" data-action="click->dashboard#toggle_page" data-dashboard-target="tab" data-page-name="search">Sonics near me</div>
      <div class="tab" data-action="click->dashboard#toggle_page" data-dashboard-target="tab" data-page-name="offers">My offers</div>
      <div class="tab new" data-dashboard-target="newTab">
        <span data-action="click->dashboard#new_costume_handler">Create a Sonic</span>
        <%= render 'new-costume', costume: @costume %>
      </div>
    </div>
    <div class="dashboard-wrapper container" data-dashboard-target="dashboard-wrapper">
        <%= render 'homepage' %>
        <%= render 'search-costume' %>
        <%= render 'offers' %>
    </div>
  </div>
</div>
